<div class="well col-sm-6 col-sm-offset-3" style="text-align: center;">

{{show-episode 
episode=model 
allSeasons=allSeasons 
allWriters=allWriters 
selectedWriters=selectedWriters 
triggerUpdate=(action "update") 
triggerTransition=(action "transition") 
triggerSelectSeason=(action "selectSeason")
}}

</div>