<div class="well col-sm-6 col-sm-offset-3" style="text-align: center;">

  <h4>Seasons:</h4>
  <ul class="index-list">
    {{#each model as |season|}}
    <li class="seasons">
      {{#link-to 'seasons.season' season.id}}
        Season {{season.number}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>

</div>
