<h4>Writers:</h4>
<ul class="index-list">
  {{#each model as |writer|}}
  <li class="writers">
    {{#link-to 'writers.writer' writer}}
      {{writer.name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
